body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesg {
    position: relative;
    width: 500px;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: red;
    transition: transform 1s ease;
    transform-origin: top left;
    transform: rotate(0deg);
}

.mesg:hover .red {
    transform-origin: top left;
    transform: rotate(90deg);
}

.yellow {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: yellow;
    transition: transform 1s ease;
    transform-origin: top right;
    transform: rotate(0deg);
}

.mesg:hover .yellow {
    transform-origin: top right;
    transform: rotate(-90deg);
}

.blue {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: blue;
    transition: transform 1s ease;
    transform-origin: bottom left;
    transform: rotate(0deg);
}

.mesg:hover .blue {
    transform-origin: bottom left;
    transform: rotate(-90deg);
}

.green {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: green;
    transition: transform 1s ease;
    transform-origin: bottom right;
    transform: rotate(0deg);
}

.mesg:hover .green {
    transform-origin: bottom right;
    transform: rotate(90deg);
}