body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesg {
    position: relative;
    width: 500px;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: red;
}

.yellow {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: yellow;
}

.blue {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: blue;
}

.green {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: green;
}