html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.step-buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 1% 35%;
  padding: 20px 5px;
  font-size: 1.8em;
  border: 0px;
  cursor: pointer;
}

.add {
  background-color: #663797;
  color: white;
}

.reset {
  background-color: #dedede;
}
